/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

/* colors */

:root {
  --gray0: #dcdcdc;
  --gray1: #a9a9a9;
  --gray2: #808080;
  --gray3: #696969;
}

/* nav bar */

nav {
  background-color: var(--gray0);
  display: flex;
  flex-direction: row;
  height: 11rem;
}

nav a {
  display: flex;
  flex-direction: column;
  height: 9rem;
  padding-top: 1.5rem;
  text-decoration: none;
  width: 11rem;
}

nav a .logo {
  height: 5rem;
}

nav span {
  color: white;
  display: block;
  margin: 0.2rem;
}

nav .bold-text {
  font-size: 1.65rem;
  font-weight: bolder;
  text-align: center;
}

.tiny-text {
  font-size: smaller;
  font-weight: normal;
  text-align: center;
}

nav a img {
  height: 3rem;
  filter: grayscale(90%);
}

.topics_button {
  color: white;
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  display: inline;
  font-size: 1.2rem;
  font-weight: bolder;
<<<<<<< HEAD
  height: 1rem;
  padding: 0.6rem 0;
  text-align: center;
  width: 6rem;
  margin: 3rem;
}

/* articles */
=======
  height: 1em;
  padding: 0.6em 0;
  text-align: center;
  width: 6em;
  margin: 3em;
}

.headline-section {
  position: absolute;
  top: 175px;
  width: 100%;
  height: 200px;
  z-index: 1000;
}

.header-inner-wrapper div {
 float: left;
 width: 33%;
 height: 200px;
}

.headline-text h1 {
text-align: center;
font-size: 2.6em;
color: #fff;
padding: 40px 0;
font-weight: bolder;
}

.headline-icon {
  padding: 40px 0px 0px;
}

.round-icon {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: white;
  color: white;
  display: inline-block;
  margin-left: 65px;
}

.serously {
  color: white;
  border: solid 2px #fff;
  display: inline-block;
  padding: 10px;
}

._article_top {
  padding: 25px;
  display: flex;
  justify-content: flex-start;
}

._article_top img {
  border: solid 5px #fff;
  border-radius: 4px;
  width: 60px;
  margin-right: 30px;
}

._article_top .author-name {
  margin-top: 30px;
 font-weight: bold;
}

._article_top i {
  font-weight: normal;
  font-size: 0.8em;
 }

 ._article_text {
   padding: 30px;
 }

 ._article_text p {
 font-size: 2.5em;
 font-weight: bold;
 }

._article_bottom {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
}

._article_bottom span {
  padding: 5px;
  display: inline-block;
}
>>>>>>> 4f14427c91fa78e96bb98015d9c5b5ee4c999f3d

.first_flex {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}


.first_flex img {
  width: 60px;
  border: solid 4px #fff;
  border-radius: 4px;
}

.tp-article div {
  width: 45%;
  float: left;
}

.left-article {
  padding-top: 200px;
  width: 50%;
  background-color: #666;
 
}

.left-article article {
  padding: 20px;
}

.right-article article {
  padding: 20px;
}

._article_arrow {
  padding: 40px 60px;
}

.right-article {
  padding-top: 200px;
  width: 50%;
  background-color: #777;
 
}
 

.left-article-2 {
  width: 50%;
  background-color: #ccc;
  height: 400px;
}

.right-article-2 {
  width: 50%;
  background-color: #ddd;
  height: 400px;
}

.triple-flex article {
  color: #fff;
  padding: 30px 10px 0 30px ;
} 

.triple-flex h1 {
  font-weight: bolder;
  line-height: 32px;;
  font-size: 1.8em;
  margin-bottom: 20px;
  margin-top: 5px;
} 

.triple-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.triple-flex span {
  text-transform: uppercase;
  font-size: x-small;
  letter-spacing: 3px;
  display: inline-block;
}

.triple-flex p {
 font-size: 1em;
 margin-top: 10px;
 line-height: 30px;
 height: 350px;
}


.triple-inner {
  width: 33.3%;
  background-color: #ddd;
}

.triple-inner div {
  width: 80px;
  height: 80px;
  background-color: #a9a9a9;
  padding-top: 40px;
  padding-left: 40px;
}

.inner-1 {
  background-color: #777;
}

.inner-2 {
  background-color: rgb(151, 127, 127);
}

.inner-3 {
  background-color: #666;
}

.my-double-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.doubleinner-1 {
  width: 60%;
  background-color: rgb(88, 55, 55);
  height: 400px;
}

.doubleinner-2 {
  width: 40%;
  background-color: rgb(56, 54, 54);
  height: 400px;
}

.a-big-div {
  width: 95%;
  margin: auto;
  background-color: darkslategray;
  height: 500px;
}

.a-narrow-div {
  width: 100%;
  height: 200px;
  background-color: gray;
}

.hight-long-div {
  background-color: #b3d4fc;
  width: 100%;
  height: 900px;
}

.long-heigh-article-area {
  background-color: lightsteelblue;
  min-height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  height: 350px;
  border: solid 1px #fff;
  background-color: #666;
}

.another-full-1 {
  background-color: #ccc;
  height: 300px;
}

.another-full-2 {
  background-color: rgb(241, 202, 202);
  height: 300px;
}

.guilds-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.guilds-item {
  width: 33.1%;
  height: 500px;
  background-color: #888;
  margin: 2px;
}

/* checklist and newslatter */

.checklist_newslatter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4rem;
}

.checklist {
  width: 30%;
}

.checklist h2 {
  font-size: 1.8rem;
  padding: 2rem 0;
}

.checklist li {
  color: var(--gray1);
  padding: 0.5rem;
}

.checklist a {
  color: var(--gray0);
  font-size: 1.3rem;
}

.newslatter {
  background-color: var(--gray2);
  border-radius: 1rem;
  padding: 2.3rem 8rem;
  width: 50%;
}

.newslatter h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}

.newslatter p {
  color: white;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 2rem;
  text-align: center;
}

.newslatter img {
  margin: 2rem auto;
  width: 28rem;
}

.newslatter form {
  display: flex;
  justify-content: center;
}

.newslatter input {
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  color: black;
  font-size: 0.9rem;
  margin-bottom: 2rem;
  padding: 1rem 3rem 1rem 1rem;
}

.newslatter a {
  background-color: white;
  border-left: 1px solid var(--gray0);
  border-radius: 0 0.5rem 0.5rem 0;
  color: var(--gray2);
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  text-decoration: none;
}

.newslatter p:nth-child(5),
.newslatter p:nth-child(6) {
  color: white;
  font-size: 1rem;
  line-height: normal;
  padding: 0.2rem;
}

/* See all articles */

.all_articles {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20rem;
  width: 100%;
}

.all_articles a {
  border-bottom: 0.5rem solid var(--gray0);
  color: var(--gray0);
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
  padding: 1.25rem 0 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.all_articles a:hover {
  color: var(--gray1);
}

.all_articles a:active {
  outline: 0.4rem dotted var(--gray1);
}

/* footer */

footer {
  background-color: var(--gray0);
  padding-bottom: 4.5rem;
}

footer h3 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  padding-top: 4rem;
}

footer p {
  color: white;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
}

footer a {
  color: white;
  display: inline-block;
  text-decoration: none;
}

.list {
  font-size: 1.7rem;
  line-height: 2rem;
  margin: 0 auto;
  padding-bottom: 3rem;
  text-align: center;
  width: 90%;
}

.list span {
  color: white;
  font-size: 3rem;
  padding: 0 0.1rem;
  position: relative;
  top: -0.05rem;
}

.list .li_anchor:hover {
  color: black;
}

.li {
  display: inline-block;
  padding: 0 0.1rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.bird {
  filter: grayscale(80%);
  width: 11rem;
}

.cat {
  filter: grayscale(100%);
  width: 14rem;
}

.anchor {
  text-decoration: underline;
}

.us {
  padding-top: 2rem;
}

.us a {
  padding: 0 0.5rem;
}

.last {
  padding-top: 1rem;
}

.last a {
  padding: 0 0.5rem;
}

.clear {
  clear: both;
}
