/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
ul,
li,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/* YOUR CODE HERE */

nav.navbar {
  display: flex;
  flex-direction: row;
  height: 180px;
  background-color: #888;
}

.logo-area {
  width:230px;
}

nav a {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
  width:170px;
  height: 150px;
  text-decoration: none;

}

nav span {
 color:#fff;
 display: block;
 margin: 3px;
}

nav .bold-text {
  text-align: center;
 font-weight: bolder;
 font-size: 1.2em;
}

.tiny-text {
  text-align: center;
  font-weight: normal;
  font-size: smaller;
}

nav a img {
height: 40px;;
}

.white-border {
  border:solid 5px #fff;
  border-radius: 3px;
  height: 45px;
  margin: 50px 0 20px;
}

 .fa-search{
   margin: 5px;
  display: inline;
  color:#fff;
  font-size: 1.2em;
  

}

 .search-text{
  display: inline;
  color:#fff;
  font-size: 1.3em;
}

.white-border p{
  text-align: left;
  padding: 2px  20px 4px;
  color:#fff;
  font-size: 1.2em;
}
 
.banner-wrap {
  position: relative;
  margin-top: 0;
}

.banner {
  background: none;
  width:100%;
  position: absolute;
  display: grid;
  grid-template-columns:  auto auto;
}

.banner-inner {
  text-align: center;
  height: auto;
  background:none;


}

.banner-inner-1 {

  padding:30px;
  display: inline-block;
  
}

.banner-inner-2 {

  margin: 20px;
  padding:10px;
}

.banner-inner-1 div { 
  width:370px;
  float: right;
}

.banner-inner-1 span {
  font-size: 3.0em;
  color:#000;
  background-color: #fff;
 padding: 6px;
}


.seriously {
  font-size: 1.8em;
  color: #fff;

}

.first_flex {
  color:#fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.first_flex img {
  width:60px;
  border:solid 4px #fff;
  border-radius: 4px;;
}

.tp-article div {
 width:45%;
 float: left;
}

.left-article {
  padding-top: 200px;
  width: 50%;
  background-color: #666;
  height: 600px;
}

.right-article {
  padding-top: 200px;
  width: 50%;
  background-color: #777;
  height: 600px;
}

.second_flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.left-article-2 {
  width: 50%;
  background-color: #ccc;
  height: 400px;
}

.right-article-2 {
  width: 50%;
  background-color: #ddd;
  height: 400px;
}

.triple-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.triple-inner {
  width: 33.3%;
  background-color: #ddd;
  height: 400px;
}

.inner-1 {
  background-color: #777;
}

.inner-2 {
  background-color: rgb(151, 127, 127);
}

.inner-3 {
  background-color: #666;
}

.my-double-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.doubleinner-1 {
  width: 60%;
  background-color: rgb(88, 55, 55);
  height: 400px;
}

.doubleinner-2 {
  width: 40%;
  background-color: rgb(56, 54, 54);
  height: 400px;
}

.a-big-div {
  width: 95%;
  margin: auto;
  background-color: darkslategray;
  height: 500px;
}

.a-narrow-div {
  width: 100%;
  height: 200px;
  background-color: gray;
}

.hight-long-div {
  background-color: #b3d4fc;
  width: 100%;
  height: 900px;
}

.long-heigh-article-area {
  background-color: lightsteelblue;
  min-height: 500px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  height: 350px;
  border: solid 1px #fff;
  background-color: #666;
}

.another-full-1 {
  background-color: #ccc;
  height: 300px;
}

.another-full-2 {
  background-color: rgb(241, 202, 202);
  height: 300px;
}

.guilds-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}

.guilds-item {
  width: 33.1%;
  height: 500px;
  background-color: #888;
  margin: 2px;
}

/* footer */

footer {
  background-color: lightgray;
  padding-bottom: 4em;
}

footer h2 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-top: 4em;
  padding-bottom: 1em;
}

footer p {
  text-align: center;
  color: white;
  line-height: 2em;
  font-size: 0.8em;
}

footer a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

.list {
  font-size: 1.3em;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 2em;
  padding-bottom: 3em;
}

.list span {
  font-size: 3em;
  position: relative;
  top: -0.05em;
}

.anchor {
  text-decoration: underline;
}

.us {
  padding-top: 2em;
}

.us a {
  padding: 0 0.5em;
}

.last {
  padding-top: 1em;
}

.last a {
  padding: 0 0.5em;
}

.clear {
  clear:both;
}
